.about-container {
	margin: 50px;
}

.image-container {
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.website-container {
	width: 100%;
	display: flex;
}

img {
	max-width: 100px;
}

.white-bkg {
	background-color: white;
}